/build
/node_modules
/CMakeFiles
/decoder.dir
/x64
/TheengsDecoder.egg-info
/Testing
.vscode
.pio
.CMakeFiles
.cmake
_skbuild
dist
/tests/BLE/CMakeFiles
/tests/BLE_fail/CMakeFiles
*.cmake
/tests/BLE_fail
*.marks
tests/BLE/Makefile
tests/BLE/test_ble
tests/Makefile
CMakeCache.txt
.DS_Store
DartConfiguration.tcl
Makefile
src/.DS_Store
CMakeCache.txt
