/build
/node_modules
/CMakeFiles
/decoder.dir
/x64
/TheengsDecoder.egg-info
.vscode
.pio
.CMakeFiles
.cmake
_skbuild
dist
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/public/commonConfig.js
docs/.vitepress/public/img/
docs/.vitepress/public/wasm/
docs/.vitepress/data/devices.json
nodejs/theengs-decoder/build-web/
docs/devices/_app_devices.md
generated/
